<script type = "text/javascript" >  
    function preventBack() { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null };  
</script> 

<div class="container-flex">
    <div id="full-overlay" class="full-overlay">
        <p><%= roomDet.room.name %></p>
        <span id="full-overlay-content"></span>
    </div>

    <div id="other-video-container" class="other-video-container">
        <div class="overlay" id="other-overlay">
            <div id="other-username">
                Waiting...
            </div>
        </div>
        <video autoplay id = "other-video" class="other-video">
            <!-- Other user's Video Stream -->
        </video>
    </div>
    
    <div class = "controls">
        
        <div id = "video-buttons" class="video-buttons">
            <ul>
                <li><button id="screen-share-btn"><img src="/images/cast.png" alt="cast" style="width: 20px"></button></li>
                <li><button id="video-btn"><em id="video-icon" class = "fas fa-video-slash"></em></button></li>
                <li><button id="audio-btn"><em id="audio-icon" class = "fas fa-microphone-slash"></em></button></li>
                <li><button id="end-call-btn"  style = "background-color: #E33A6D"><img src="/images/call-decline.png" alt="call-decline" style="width: 25px"></button></li>
            </ul>
        </div>
        
    </div>

    <div class="my-video-container" id="my-video-container">
        <em id="hide-show" class="hide-show fas fa-chevron-right"></em>
        <div class="overlay gap32" id="my-overlay">
            <div>
                <% if (userType === 'Guest'){%>
                    <%= roomDet.guest.name %>
                <%}else{%>
                    <%= roomDet.host.name %>
                <%}%>
            </div>
        </div>
        <video autoplay id = "my-video" class="my-video">
            <!-- Own Video Stream -->
        </video>
    </div>

</div>

<!-- Absolute icons -->
<div>
    <em id="info-icon" class = "info-icon fas fa-info-circle"></em>
</div>

<div>
    <em id="chat-icon" class = "chat-icon fas fa-comments"></em>
</div>


<!-- on clicking chat icon -->
<div class="chat-window" id="chat-window">
    <div class="chat-head">Chat</div>

    <div class="chat-area" id="chat-area">
        <p>Messages can only be seen by people in the room and are deleted when the room ends.</p>
    </div>

    <div class="send-area">
        <input type="text" placeholder="Enter message" id="msg-data">
        <button id="msg-send">Send</button>
    </div>
</div>


<!-- on clicking info icon  -->
<div id="info" class="info">
    <ul id = "info-list">
        <li class="info-list-elements">Room Name: <%= roomDet.room.name %></li>
        <li class="info-list-elements">
            Room ID: <%= roomDet.room.id %> <em id="id-copy" class="copy-icon fas fa-clipboard"></em>
        </li>
        <li class="info-list-elements">
            Room Password: <%= roomDet.room.password %> <em id="password-copy" class="copy-icon fas fa-clipboard"></em>
        </li>
        <li class="info-list-elements">Host Name: <%= roomDet.host.name %></li>
    </ul>
    <div id = "arrow" class="arrow"></div>
</div>

<!-- new message notification -->

<div id="new-message-notification" class="new-message-notification">
    <% if (userType === 'Host'){%>
        New Message from <%= roomDet.guest.name %>!
    <%}else{%>
        New Message from <%= roomDet.host.name%>
    <%}%>
</div>

<!-- audio on off notification icon -->

<em id='other-audio-icon' class='other-audio-icon fas fa-microphone-slash'></em>