<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/room.css">
    <script>
        const ROOM_ID = "<%= roomId %>";
        const GUEST_ID = "<%= guestId %>";
        const GUEST_NAME = "<%= guestName %>";
        const ROOM_NAME = "<%= roomName %>";
        const HOST_NAME = "<%= hostName %>";
        const ROOM_PASSWORD = "<%= roomPassword %>"
    </script>
</head>

<body>
    <%- include('./partials/room.ejs') %>
    <div id="info">
        <ul id = "info-list">
            <li class="info-list-elements">Room Name: <%= roomName %></li>
            <li class="info-list-elements">Room ID: <%= roomId %></li>
            <li class="info-list-elements">Room Password: <%= roomPassword %></li>
            <li class="info-list-elements">Username: <%= guestName %></li>
            <li class="info-list-elements">Host Name: <%= hostName %></li>
        </ul>
    </div>
</body>

<script src = "/socket.io/socket.io.js" defer></script>
<script src = "/JS/guest.js" defer></script>

</html>