<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/room.css">
    <script>
        const ROOM_ID = "<%= roomId %>";
        const ROOM_NAME = "<%= roomName %>";
        const ROOM_PASSWORD = "<%= roomPassword %>";
        const HOST_ID = "<%= hostId %>";
        const HOST_NAME = "<%= hostName %>";
    </script>
</head>

<body>
    <%- include('./partials/room.ejs') %>
</body>

<script src = "/socket.io/socket.io.js" defer></script>
<script src = "/JS/host.js" defer></script>

</html>