<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/room.css">
    <script>
        const ROOM_ID = "<%= roomDet.room.id %>";
        const ROOM_NAME = "<%= roomDet.room.name %>";
        const ROOM_PASSWORD = "<%= roomDet.room.password %>";
        const HOST_ID = "<%= roomDet.host.id %>";
        const HOST_NAME = "<%= roomDet.host.name %>";
        const USER_TYPE = "<%= userType %>";
        var GUEST_ID = "<%= roomDet.guest.id %>";
        var GUEST_NAME = "<%= roomDet.guest.name %>"; 
    </script>
</head>

<body>
    <%- include('./partials/roomBody.ejs') %>
</body>

<script src = "/socket.io/socket.io.js" defer></script>
<script src = "/JS/room.js" defer></script>
</html>