<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/room.css">
    <script>
        const ROOM_ID = "<%= roomDet.room.id %>";
        const ROOM_NAME = "<%= roomDet.room.name %>";
        const HOST_ID = "<%= roomDet.host.id %>";
        const HOST_NAME = "<%= roomDet.host.name %>";
        const USER_TYPE = "<%= userType %>";
        var GUEST_ID = "<%= roomDet.guest.id %>";
        var GUEST_NAME = "<%= roomDet.guest.name %>"; 
        var GUEST_TURN_SERVER_URLS = "<%= roomDet.guest.turnServerUrls %>"
        var GUEST_TURN_SERVER_CREDENTIAL = "<%= roomDet.guest.turnServerCredential %>"
        var GUEST_TURN_SERVER_USERNAME = "<%= roomDet.guest.turnServerUsername %>"
        const HOST_TURN_SERVER_URLS = "<%= roomDet.host.turnServerUrls %>"
        const HOST_TURN_SERVER_CREDENTIAL = "<%= roomDet.host.turnServerCredential %>"
        const HOST_TURN_SERVER_USERNAME = "<%= roomDet.host.turnServerUsername %>"
    </script>
</head>

<body>
    <%- include('./partials/roomBody.ejs') %>
</body>

<script src = "/socket.io/socket.io.js" defer></script>
<script src = "/JS/room.js" defer></script>
</html>